/* Normalización y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1; /* Hace que el contenido ocupe el espacio disponible */
}

/* Header para Login y Registro */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    z-index: 1000;
    position: relative; /* Se asegura de que el contenido dentro de header se posicione respecto a este */
}
.icono {
    position: absolute;
    left: 20px;
}

.icono img {
    height: 50px;
    border-radius: 50%;
}
/* Contenedor de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

/* Estilos para el footer */
footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
    margin-top: auto; /* Asegura que el footer se coloque al final de la página */
}

footer .social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
 
}

footer .social-icons a:hover {
    color: #ea210b;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Media Queries */

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .icono {
        position: relative;
        left: 0;
        top: 0;
        transform: none; /* El logo no debe ser flotante */
    }

    header .logo {
        position: relative;
        right: 0;
    }
}
