/* Normalización y estilos básicos */
* {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina paddings predeterminados */
    box-sizing: border-box; /* Incluye paddings y bordes en dimensiones */
}

/* Estilo general del cuerpo */
body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: 'Roboto', sans-serif; /* Fuente principal */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Contenedor principal */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la ventana */
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 70px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 15px;
    border: 2px solid #ea210b; /* Borde rojo */
}

/* Icono en el header */
.icono {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.icono img {
    height: 50px;
}

/* Logo del header */
.logo img {
    height: 35px;
}

header .logo {
    position: absolute;
    right: 20px;
}

/* Menú de navegación */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-left: 20px;
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    transition: color 0.3s ease;
}

/* Dropdown del menú */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown li {
    width: 150px;
}

.dropdown a {
    padding: 10px;
    display: block;
    color: #fff;
}

/* Hover para menú */
nav ul li a:hover,
.dropdown a:hover {
    color: #ea210b;
}

/* HERO */
.hero {
    position: relative;
    overflow: hidden;
    height: 80vh;
    border-radius: 15px;
    margin: 60px 0 40px;
}

.slider {
    position: relative;
    max-height: 80vh;
}

.slide {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s ease;
}

.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    z-index: 10;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
}

.text h1 {
    font-size: 2em;
    margin: 0;
}

/* GALERÍA DE VIDEOS */
.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.video {
    background-color: #fff;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
    transition: transform 0.5s;
}

.video:hover {
    transform: translateY(-12px);
}

.video img {
    width: 100%;
    height: auto;
    min-height: 550px;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

.video h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000;
}

.video .btn {
    display: inline-block;
    background-color: #ea210b; /* Botón rojo */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.5s; 
}

.video .btn:hover {
    background-color: #000;
}

/* AVISO DE COOKIES */
#cookieDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border:none;
}
#cookieDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
#acceptCookies {
    background-color: #ea210b;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}
#cookieDialog p {
    margin-bottom: 15px;
    font-size: 15px;
}
#acceptCookies:hover {
    background-color: black;
}


/* FOOTER */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    margin-top: auto;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #ea210b;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}

@media (max-width: 1024px) {
    .video { width: calc(50% - 20px); }
    .text { font-size: 1.1em; }
    .text h1 { font-size: 2em; }
    .hero { height: 70vh; }
    .slide img { width: 100vw; height: 100vh; object-fit: cover; object-position: center; }
    #cookieDialog { width: 80%; max-width: 450px; }
    #acceptCookies { font-size: 16px; padding: 8px 16px; }
}
@media (max-width: 992px) {
    .video { width: calc(50% - 20px); }
}

@media (max-width: 768px) {
    .container { padding: 0 15px; }
    .text { bottom: 10px; right: 10px; font-size: 0.9em; }
    .text h1 { font-size: 1.8em; }
    .hero { height: 60vh; }
    .video, .gallery { width: 100%; }
    .slide img {width: 100vw; height: 100vh; object-fit: cover; object-position: center; }
    #cookieDialog { width: 80%; max-width: 400px; }
    #acceptCookies { font-size: 16px; padding: 8px 16px; }
}

@media (max-width: 480px) {
    #main-header { padding: 5px; flex-wrap: nowrap; justify-content: center; }
    .text { font-size: 0.9em; }
    .text h1 { font-size: 1.2em; }
}
