/* Normalización y estilos básicos */
* {
    margin: 0; /* Elimina el margen predeterminado de los elementos */
    padding: 0; /* Elimina el padding predeterminado de los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho y alto de los elementos */
}

/* Estilo general del cuerpo */
body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: 'Roboto', sans-serif; /* Fuente utilizada */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Contenedor principal que abarca toda la página */
.container {
    width: 100%; /* Ocupa todo el ancho */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column; /* Coloca los elementos de forma vertical */
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana */
}

/* Estilos para el encabezado */
header {
    display: flex; /* Disposición en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente */
    background-color: #000; /* Fondo negro */
    height: 70px; /* Altura fija */
    padding: 10px;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    border-radius: 15px;
    border: 2px solid #ea210b; /* Borde rojo */
}

/* Estilo del icono en el header */
.icono {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente el icono */
}

.icono img {
    height: 50px; /* Tamaño del icono */
}

/* Logo en el header */
.logo img {
    height: 35px; /* Tamaño del logo */
}

header .logo {
    position: absolute;
    right: 20px; /* Ubica el logo a la derecha */
}

/* Estilos del menú de navegación */
header nav {
    flex-grow: 1; /* El nav crece para ocupar el espacio restante */
}

header nav ul {
    list-style: none; /* Elimina los puntos de lista */
    display: flex; /* Disposición en fila */
    justify-content: center; /* Centra los elementos */
}

header nav ul li {
    margin-left: 20px; /* Espacio entre los elementos del menú */
    position: relative;
}

header nav ul li a {
    color: #ffffff; /* Color blanco para los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: 700; /* Negrita */
    padding: 10px;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilos para el menú desplegable */
.dropdown {
    display: none; /* Oculta el menú desplegable por defecto */
    position: absolute;
    top: 100%; /* Aparece debajo del elemento padre */
    left: 0;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 10;
}

nav ul li:hover .dropdown {
    display: block; /* Muestra el menú cuando se pasa el cursor sobre el elemento */
}

.dropdown li {
    width: 150px;
}

.dropdown a {
    padding: 10px;
    display: block; /* Hace que el enlace ocupe toda el área del ítem */
    color: #ffffff;
    text-decoration: none;
}

/* Cambia el color del texto del menú y del dropdown a rojo cuando pasas el cursor */
nav ul li a:hover,
.dropdown a:hover {
    color: #ea210b; /* Color rojo */
}

/* Estilos para la sección hero */
.hero {
    position: relative;
    overflow: hidden; /* Evita que el contenido se desborde */
    height: 80vh; /* Altura del 80% de la ventana */
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 60px;
}

/* Estilos del slider */
.slider {
    position: relative;
    max-height: 80vh;
}

.slide {
    opacity: 0; /* Inicialmente invisibles */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s ease; /* Transición suave para la opacidad */
}

.active {
    opacity: 1; /* Solo la clase activa será visible */
}

.slide img {
    width: 100%;
    object-fit: cover; /* Hace que la imagen cubra el área sin distorsionar */
    border-radius: 15px;
}

/* Animación de desvanecimiento */
@keyframes fade {
    0%, 50%, 100% { opacity: 0; }
    5%, 45% { opacity: 1; }
}

/* Aplicación de la animación al slider */
.slider .slide {
    animation: fade 10s infinite;
}

.slider .slide:nth-child(2) {
    animation: fade 10s infinite 5s; /* Diferencia la animación de la segunda imagen */
}

/* Estilo para el texto sobre el slider */
.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    z-index: 10;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la visibilidad */
}

.text h1 {
    font-size: 2em;
    margin: 0;
}

.text p {
    font-size: 1em;
}

/* Estilos para la galería de videos */
.video-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que los videos se ajusten a varias líneas */
    gap: 20px; /* Espacio entre los videos */
    justify-content: center;
}

.video {
    background-color: #fff;
    width: calc(33.33% - 20px); /* Tres videos por fila en pantallas grandes */
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
    transition: transform 0.5s; /* Transición para el efecto hover */
}

.video:hover {
    transform: translateY(-12px); /* Eleva el video cuando se pasa el cursor */
}

.video img {
    width: 100%;
    height: auto;
    min-height: 550px; /* Altura mínima para las imágenes */
    object-fit: cover; /* Asegura que las imágenes se ajusten sin deformarse */
    border-radius: 10px;
    aspect-ratio: 16/9; /* Relación de aspecto de 16:9 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra alrededor de las imágenes */
}

.video h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000;
}

.video .btn {
    display: inline-block;
    background-color: #ea210b; /* Botón rojo */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.9s; /* Transición para el color del fondo */
}

.video .btn:hover {
    background-color: #000; /* Fondo negro al pasar el cursor */
}

/* Estilo del aviso de cookies */
#cookieDialog {
    position: fixed;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el cuadro para que quede perfectamente centrado */
    max-width: 500px;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    border: none;
}

#cookieDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#cookieDialog p {
    margin-bottom: 15px;
    font-size: 15px;
}

#acceptCookies {
    background-color: #ea210b;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
}

#acceptCookies:hover {
    background-color: black;
}
#acceptCookies {
    outline: none;
} 

/* FOOTER */

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    margin-top: auto;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #ea210b;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}
@media (max-width: 1024px) {
    .video { width: calc(50% - 20px); }
    .text { font-size: 1.1em; }
    .text h1 { font-size: 2em; }
    .hero { height: 70vh; }
    .slide img { width: 100vw; height: 100vh; object-fit: cover; object-position: center; }
    #cookieDialog { width: 80%; max-width: 450px; }
    #acceptCookies { font-size: 16px; padding: 8px 16px; }
}
@media (max-width: 992px) {
    .video { width: calc(50% - 20px); }
}

@media (max-width: 768px) {
    .container { padding: 0 15px; }
    .text { bottom: 10px; right: 10px; font-size: 0.9em; }
    .text h1 { font-size: 1.8em; }
    .hero { height: 60vh; }
    .video, .gallery { width: 100%; }
    .slide img {width: 100vw; height: 100vh; object-fit: cover; object-position: center; }
    #cookieDialog { width: 80%; max-width: 400px; }
    #acceptCookies { font-size: 16px; padding: 8px 16px; }
}

@media (max-width: 480px) {
    #main-header { padding: 5px; flex-wrap: nowrap; justify-content: center; }
    .text { font-size: 0.9em; }
    .text h1 { font-size: 1.2em; }
}
