/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    box-sizing: border-box;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Organiza el contenido en una columna */
}
.main{
    flex-grow: 1;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    z-index: 1000;
    position: relative;
}

/* Estilos para el icono */
.icono {
    position: absolute;
    left: 20px;
}
.icono img {
    height: 50px;
    border-radius: 50%;
}

/* Logo */
header .logo {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

header .logo img {
    height: 35px;
    border-radius: 30px;
}

/* Estilos generales para el carrusel */
.slideshow-container {
    position: relative;
    max-width: 80%; /* Limita el tamaño máximo del contenedor */
    margin: 20px auto 0; /* Añadimos margen superior para evitar solapamiento con el header */
    overflow: hidden; /* Oculta las partes de la imagen que se salen del contenedor */
    border-radius: 20px;
  }
  
  /* Estilo para las imágenes del carrusel */
  .mySlides img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 500px; /* Tamaño fijo para la altura de todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    border-radius: 20px;
  }
  
  /* Los puntos (dots) de navegación */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff7a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .dot:hover {
    background-color: #717171;
  }
  
  /* Cuando un punto es activo, cambia su color */
  .active {
    background-color: #ea210b;
  }
  
  /* Estilos para los botones de navegación */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1000;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #ea210b;
    text-align: center;
    border-radius: 15px;
    margin-top: auto;/* Empuja el footer hacia abajo */
}

footer .social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ea210b;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}


/* Media Query para tablets */
@media (max-width: 768px) {
    header {
        height: 60px;
        padding: 5px;
    }
 
    header h1 {
        font-size: 1.5em;
    }

    .icono img {
        height: 45px;
    }

    header .logo img {
        height: 32px;
    }

    .gallery {
        grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
        gap: 18px;
    }

    .photo img {
        object-fit: cover;
    }

    footer .social-icons a {
        font-size: 1.4em;
    }

    footer p {
        font-size: 0.9em;
    }
}

/* Media Query para pantallas móviles medianas */
@media (max-width: 600px) {
    header {
        height: 60px;
        padding: 5px;
    }
    header h1 {
        font-size: 1.2em;
    }
    .icono img {
        height: 35px;
    }
    header .logo img {
        height: 30px;
    }

    .gallery {
        grid-template-columns: 1fr; /* Una columna en pantallas móviles pequeñas */
        gap: 15px;
        
    }

    .photo img {
        object-fit: cover;
    }

    footer .social-icons a {
        font-size: 1.2em;
    }

    footer p {
        font-size: 0.8em;
    }
}

/* Media Query para dispositivos móviles pequeños */
@media (max-width: 480px) {
    header {
        height: 60px;
        padding: 5px;
       
    }
    header h1 {
        font-size: 1.2em;
    }
    .icono img {
        height: 35px; /* Ajusta el tamaño del ícono */
    }
    header h1 {
        font-size: 1.4em; /* Reduce el tamaño del título si es necesario */
    }

    header .logo img {
        height: 28px; /* Ajusta el tamaño del logo */
    }

    .gallery {
        grid-template-columns: 1fr; /* Una columna para una mejor visualización en pantalla estrecha */
        gap: 12px; /* Menor espacio entre imágenes */
    }

    .photo img {
        object-fit: cover;
    }

    footer .social-icons a {
        font-size: 1.1em; /* Reducir el tamaño de los íconos de redes sociales */
    }

    footer p {
        font-size: 0.75em; /* Reducir el tamaño del texto en el footer */
    }
}