* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #000000;
    background-image: url('img/fondomolon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/* Header para Login y Registro */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ea210b;
    z-index: 1000;
    position: relative;
    /* Se asegura de que el contenido dentro de header se posicione respecto a este */
}

.icono {
    position: absolute;
    left: 20px;
}

.icono img {
    height: 50px;
    border-radius: 50%;
}

/* Contenedor del Formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Asegura que el contenido comienza desde arriba */
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* Asegura que ocupa toda la altura de la ventana */
    flex-grow: 1;
    /* Hace que el contenedor principal ocupe el espacio restante */
}
/* Formulario contenedor */
.containerForm {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff7a;
    padding: 30px 20px 20px 20px;
    /* Espacio adicional en la parte superior */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para los campos de entrada */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    color: #000000;

}

/* Etiquetas flotantes */
.floating-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    transition: 0.2s ease all;

}

input:focus+.floating-label,
input:not(:placeholder-shown)+.floating-label {
    top: -10px;
    font-size: 0.8em;
    color: #000000;
}

input:focus {
    background-color: #ea210bc7;
    outline: 1px solid #ea210b;
}


/* Botón de contraseña */
.form-group a {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

.form-group a:hover {
    color: #ea210b;
}


/* Estilos del botón de registro */
.registerbtn {
    width: 100%;
    padding: 14px;
    background-color: #ea210b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.registerbtn:hover {
    background-color: #000;
}

/* Checkbox y términos */
.form-group-ch {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: black;
}

.form-group-ch input {
    margin-right: 10px;
}

/* Estilo específico para los checkboxes */
input[type="checkbox"] {
    outline: none;
    /* Quita el contorno al hacer clic o al enfocarlo */
    background-color: transparent;
    /* Asegura que no tenga fondo */
}

a {
    color: #ea210b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #000;
}

/* Signin link */
.signin {
    text-align: center;
    margin-top: 10px;
}

.signin a {
    color: #ea210b;
    text-decoration: none;
    font-weight: bold;
}

.signin a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 2px solid #ea210b;
    border-radius: 15px;
    margin-top: auto;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ea210b;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 { font-size: 1.5em; }
    .containerForm { padding: 30px 20px; }
    footer { margin-top: 20px; }
}

@media (max-width: 480px) {
    header h1 { font-size: 1.2em; }
    .registerbtn { font-size: 0.9em; }
    .icono img { height: 35px; width: auto; }
    .social-icons a { font-size: 1.2em; }
    .containerForm { padding: 30px 20px; }
    footer { margin-top: 20px; }
}
